:root {
  font: 16px / 1 sans-serif;
  /* font-family: 'Righteous', cursive; */
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  /* background-image: url('./components/Images/background.jpg'); */
  background-color: rgb(255, 254, 209);
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  color: black;
}

body h1 {
  padding-top: 2rem;
  color: black;
  font-family: 'Righteous', cursive;
}

.movieCard {
  border: 0.09rem solid rgb(207, 207, 206);
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
}

.movieCard p {
  /* font-family: 'Righteous', cursive; */
  font-size: 1rem;
}

.headTop {
  background-image: url('./components/Images/background.jpg');
  display: grid;
  grid-template-columns: 10% 90%;
  border: 0.09rem solid rgb(207, 207, 206);
  align-items: center;
}

.headTop ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.headTop a {
  color: black;
  font-family: 'Righteous', cursive;
}

.headTop img {
  height: 2rem;
  width: auto;
  padding-left: 5rem;
}

footer {
  padding: 3rem;
}
